<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Show Page</title>
  </head>
  <body>
    <h1>Item Show Page</h1>
    <p>
      <img src="<%=item.img%>" width="300" height="300">
      <br>
      <%=item.name%>
      <br>
      <%=item.price%>
      <br>
      <%=item.qty%>
    </p>
    <button type="button" name="buy">Buy</button>
    <br>
    <a href="/items/<%=id%>/edit">Edit</a>
    <br>
    <form action="/items/<%=id%>?_method=DELETE" method="POST">
      <input type="submit" value="DELETE"/>
    </form>
    <br>
    <a href="/items">Back to Index</a>
  </body>
</html>
